.my-test{
    background-color: $color-grey-light;
    padding: 15rem 1rem;
    &__content{
        margin-left: 1.5rem;
        margin-bottom: 4rem;
        @media only screen and (max-width: 56.25em){
            margin-left: 2rem;
        }
    }

    @media only screen and (max-width: 56.25em){
        padding: 5rem 1rem;
    }
}

.container{
    background-color: $color-grey-light;
    padding: 10rem 1rem;
    @media only screen and (max-width: 56.25em){
        padding: 5rem 1rem 10rem 1rem;
    }
}

.my-test-grid{  
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    gap: 2rem;
}

